<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="book-form">
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.label :book %>
      <%= form.collection_select :book, current_user.books, :id, :title, prompt: true  %>
    </div>

    <%= form.submit %>
  </div>
<% end %>
<%
=begin%>
  https://codepen.io/designcouch/pen/vlpiC
<%
=end%>
