<% require 'github/markup' %>

<p id="notice"><%= notice %></p>

<div class="notepaper">
  <h1 class="align">
    <%= @note.title %> <i>de <%= link_to @note.book.title, book_path(@note.book) %></i>
  </h1>
</div>

<div class="notepaper">
  <%= sanitize GitHub::Markup.render_s(GitHub::Markups::MARKUP_MARKDOWN, @note.content) %>
</div>

<div class="notepaper">
  <div class="actions">
    <%= link_to edit_note_path(@note) do %>
      <i class="material-icons">create</i>
    <% end %>
    <%= link_to export_note_index_path(@note.id), method: :post, target: :_blank  do %>
      <i class="material-icons">import_export</i>
    <% end %>
  </div>
</div>
