<% require 'github/markup' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= sanitize GitHub::Markup.render_s(GitHub::Markups::MARKUP_MARKDOWN, @note.content) %>
</p>

<p>
  <strong>Book:</strong>
  <%= link_to @note.book.title, book_path(@note.book) %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Export', export_note_index_path(@note.id), method: :post, target: :_blank  %> |
<%= link_to 'Back', notes_path %>
